body { background-image: url(https://img.freepik.com/free-vector/candy-pastel-color-pattern-design_23-2150623222.jpg); text-align: center;backdrop-filter: blur(1px);}
p{font-size:20px;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
h1{padding-top: 90px; }
a{color:black; font-size: 25px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;padding:10px;}
a:hover {color:purple;}

