body { background-image: url(https://img.freepik.com/free-vector/candy-pastel-color-pattern-design_23-2150623222.jpg); text-align: center;backdrop-filter: blur(1px);}
a{color:black; font-size: 25px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
a:hover {color:purple;}
